<h1>Chat</h1>
<div>
    <i id="userName"></i><input id="chatbox" type="text">
        
</div>

<div id="log"></div>

<script src="/js/chat.js"></script>
<script src="/socket.io/socket.io.js"></script>
